<div class='row'>
  <div class='span8 well'>
    <%= render @post.categories %>
    <h4>
      <%= @post.title %>
    </h4>
    <p>
      <%= @post.description %>
    </p>
    <span class='quiet'>
      posted by <%= @post.user.username %>
    </span>
  </div>
</div>