<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'Post New', new_post_path %>
  </li>
  <div class="btn-group nav_item">
  <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
    Categories
    <ul class="dropdown-menu">
      <li><a href="https://kkbruce.tw/bs3/Examples/theme#">Action</a></li>
      <li><a href="https://kkbruce.tw/bs3/Examples/theme#">Another action</a></li>
      <li><a href="https://kkbruce.tw/bs3/Examples/theme#">Something else here</a></li>
      <li class="divider"></li>
      <li class="dropdown-header">Nav header</li>
      <li><a href="https://kkbruce.tw/bs3/Examples/theme#">Separated link</a></li>
      <li><a href="https://kkbruce.tw/bs3/Examples/theme#">One more separated link</a></li>
    </ul>
  <% end %>
  </div>
</ul>
<div class="nav_item">
  <%= link_to 'New Post', new_post_path, class: 'btn btn-sussess btn-small' %>
</div>
